

#gameContainer {
	position: relative;
	/*right: 100px;*/
	display: flex;
	flex-direction: column;
	min-width: 560px;
	max-width: 850px;
	width: 80%;
	margin: 0;
	border: 1px solid rgba(0, 0, 0, .7);
	border-radius: 5px;
	box-shadow: 0 0 20px 0px black;
	background-color: #d6e1ff;
}


	#gameContainer button {
		text-shadow: 1px 1px 1px #3f3f3f;
		cursor: pointer;
		color: #e2e0e0;
		background-color: #1e9e53;
		transition: transform 60ms ease-out, background-color 20ms;
	}


	#gameContainer button:active, .active {
		transform: translate(2px, 2px);
		background-color: #106333 !important;
	}


	#status {
		display: flex;
		flex-direction: row;
		padding: 1px;
		margin: -1px -1px 10px -1px;
		border: 1px solid rgba(0, 0, 0, .6);
		border-radius: 3px 3px 0 0;
		background-color: #3b62d6;
	}


		#status > h1 {
			font-size: 35px;				
		}


		#leftStatus {
			padding: 0 0 2px 10px;
			margin: 0 auto 2px 5px;
		}


		#rightStatus {
			padding: 0 10px 2px 0;
			margin: 0 5px 2px auto;
		}


	#canvasContainer {
		/*margin: 0;*/
	}


		canvas {
			margin: 0 30px;
			border: 1px solid rgba(0, 0, 0, .7);
			border-radius: 3px;
		}

	
	#inputContainer {
		display: flex;
		justify-content: center;
		margin: 0;
	}


		#inputContainer > button {
			width: calc(calc(100% - 60px) / 16);
			height: 30px;
			margin: 4px calc(calc(100% - 60px) / 32) 0 calc(calc(100% - 60px) / 32);
			border: 1px solid black;
			border-radius: 10px;
			box-shadow: 2px 2px 5px rgba(0, 0, 0, .9);
			outline: none;
			font-size: 18px;
		}


	#gameControl {
		margin: 10px 15px;
	}


			#gameControl > button {
				padding: 5px 10px;
				border: 1px solid black;
				border-radius: 5px;
				box-shadow: 2px 2px 5px rgba(0, 0, 0, .9);
				outline: none;
				font-size: 22px;
			}


				#submitScore{
					float: left;
				}


				#newGame {
					float: right;
				}

