

#gameContainer {
	display: flex;
	flex-direction: column;
	min-width: 560px;
	width: 70%;
	margin: 0 10% 0 2%;
	border: 1px solid rgba(0, 0, 0, .7);
	border-radius: 5px;
	box-shadow: 0 0 20px 0px black;
	background-color: #d6e1ff;
}


	#gameContainer button {
		text-shadow: 1px 1px 1px #3f3f3f;
		color: #e2e0e0;
		background-color: #1e9e53;
	}


	#gameContainer button:active, .active {
		transform: translate(4px, 4px);
		background-color: #106333 !important;
	}


	#status {
		display: flex;
		flex-direction: row;
		padding: 1px;
		margin: -1px -1px 10px -1px;
		border: 1px solid rgba(0, 0, 0, .6);
		border-radius: 3px 3px 0 0;
		background-color: #3b62d6;
	}


		#status > h1 {
			font-size: 35px;				
		}


		#leftStatus {
			padding: 0 0 2px 10px;
			margin: 0 auto 2px 5px;
		}


		#rightStatus {
			padding: 0 10px 2px 0;
			margin: 0 5px 2px auto;
		}


	#canvasContainer {
		margin: 0 20px;
	}


		canvas {
			margin: 0 25px;
			border: 1px solid rgba(0, 0, 0, .7);
			border-radius: 3px;
		}

	
	#inputContainer {
		display: flex;
		justify-content: center;
		margin: 0 20px;
	}

		/*
		We want the input buttons to line up with the columns rendered in canvas.
		The canvas has a width of 100% - 50px, and the distance between columns is 
		an eighth of that, meaning each input button and its left/right margins should
		also be an eigth of that. We make the button half of that distance and the margin
		to either side a quarter of it.
		*/
		#inputContainer > button {
			width: calc(calc(100% - 50px) / 16);
			height: 30px;
			margin: 4px calc(calc(100% - 50px) / 32) 0 calc(calc(100% - 50px) / 32);
			border: 1px solid black;
			border-radius: 10px;
			box-shadow: 2px 2px 5px rgba(0, 0, 0, .9);
			outline: none;
			font-size: 18px;
		}


	#gameControl {
		margin: 10px 15px;
	}


			#gameControl > button {
				padding: 5px 10px;
				border: 1px solid black;
				border-radius: 5px;
				box-shadow: 2px 2px 5px rgba(0, 0, 0, .9);
				outline: none;
				font-size: 22px;
			}


				#submitScore{
					float: left;
				}


				#newGame {
					float: right;
				}

