body {
	margin: 0px;
	font-family: 'Open Sans', sans-serif;
	color: #e2e0e0;
	background-color: #ceddff;
}

#header {
	text-align: center;
	font-size: 30px;
	background-color: #2148bc;
}

	#header > h1 {
		padding-bottom: 10px;
		margin: auto auto 20px auto;
	}

#appContainer {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
}


	#gameContainer {
		display: flex;
		flex-direction: column;
		min-width: 560px;
		width: 50%;
		margin-left: 30px;
		border: 1px solid rgba(0, 0, 0, .5);
		border-radius: 5px;
		background-color: #a3bdff;
	}

		#gameContainer button {
			color: #e2e0e0;
			background-color: #2148bc;
		}

		#status {
			display: flex;
			flex-direction: row;
			margin: 5px 10px 10px 10px; 
			border: 1px solid black;
			border-radius: 2px;
			background-color: #2148bc;
		}

			#leftStatus {
				padding: 3px 0px 5px 10px;
				margin: 3px auto 5px 5px;
				font-size: 30px;
			}

			#rightStatus {
				padding: 3px 10px 5px 0px;
				margin: 3px 5px 5px auto;
				font-size: 30px;
			}

		#canvasContainer {
			margin: 0px 20px;
		}

			canvas {
				border: 1px solid rgba(0, 0, 0, .7);
				border-radius: 3px;
			}

		
		#buttonContainer {
			display: flex;
			justify-content: center;
			margin: 20px 20px 10px 20px;
		}

			#buttonContainer > button {
				width: 6.5%;
				height: 30px;
				margin: 10px 3%;
				border: 1px solid black;
				border-radius: 10px;
				box-shadow: 2px 2px 5px rgba(0, 0, 0, .9);
				font-size: 18px;
			}

			#buttonContainer > button:active, .active {
				transform: translate(4px, 4px);
			}

			#buttonContainer > button:focus {
			 	outline: none;
			}

		#gameControl {
			display: flex;
			flex-direction: row;
		}

			#gameStatus {
				margin: auto auto 15px 15px;
				padding: 5px 10px;
				border: 1px solid black;
				border-radius: 3px;
				font-size: 30px;
				background-color: #2148bc;
			}

			#newGame {
				margin: auto 15px 15px auto;
				padding: 5px 10px;
				border: 1px solid black;
				border-radius: 5px;
				box-shadow: 2px 2px 5px rgba(0, 0, 0, .9);
				font-size: 25px;
			}

				#newGame:active {
					transform: translate(4px, 4px);
				}

				#newGame:hover, #newGame:focus {
					outline: none;
				}

	#scoresContainer {
		display: flex;
		flex-direction: column;
		width: 30%;
		min-width: 250px;
		max-width: 350px;
		max-height: 600px;
		background-color: red;
	}

		#scoresContainer > h1 {
			margin-top: 10px;
			margin-bottom: 0px;
			text-align: center;
		}

		#leaderboard {
			width: 100%;
			padding: 20px;
			text-align: left;
			font-size: 16px;
		}

			th {
				padding-right: 20px;
				padding-bottom: 20px;
			}

			#position {
				padding-right: 35px;
			}

			#date {
				padding-right: 40px;
			}

			td {
				padding-bottom: 15px;
			}

